/* Add styles here */
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #ffffff, #cf32ff);
    color: rgb(67, 19, 73);
}

.container{
    margin: 0 15px;
}

.form-box{
    height: 150px;
    max-height: 450px;
    width: 400px;
    max-width: 450px;
    padding: 30px;
    border-radius: 10px;

    border: 3px solid transparent;
    background: 
        linear-gradient(white, white) padding-box, 
        linear-gradient(to right, rgb(138, 0, 119), rgb(148, 6, 148), rgb(189, 2, 189), rgb(201, 2, 201), rgb(255, 184, 255)) border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}